<!DOCTYPE html>
<html lang="tr">
<head>
    <link rel="stylesheet" href="styles.css"> <!-- CSS dosyanız -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Plan App</title>

</head>
<body>

<script src="https://d3js.org/d3.v7.min.js"></script> <!-- D3.js kütüphanesi -->
<script src="script.js"></script> <!-- JavaScript dosyanız -->

<h1>Gezgin Uygulaması</h1>

<div id="mapContainer">
    <div id="mapBox">
        <object id="svgMap" data="/static/world.svg" type="image/svg+xml"></object>
    </div>
</div>

</body>
</html>
